.projects {
    padding: 3rem 0 6rem 0;
}
.projects-menu {
    width: 90%;
    margin: 0 auto;
}
.projects-menu h2 {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    padding: 3rem 0;
}

.projects-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
}

.projects-cards {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}

.projects-cards img {
    width: 100%;
    height: 100%;
}
.projects-cards::before {
    content: '';
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    opacity: 0.85;
    position: absolute;
    width: 100%;
    height: 0;
    transition: 0.4s ease-in-out;
}
.projects-cards:hover::before {
    content: '';
    height: 100%;
    position: absolute;
}
.projects-cards:hover .pro-text {
    top: 50%;
    opacity: 1;
  }

.pro-text {
    position: absolute;
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
    opacity: 0;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.pro-text h4 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1.1em;
    color: white;
}
.pro-text-links {
    display: flex;
    justify-content: space-around;
    gap: .5rem;
}
.pro-text-links a {
    color: white;
    display: flex;
    align-items: center;
    gap: .5rem;
}
.pro-text-links a img {
    width: 25px;
    height: 25px;
}
