
.skills-container {
    padding: 0 0 50px 0;
    background-image: url('/src/assets/img/color-sharp.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.skill-bx {
    background: #151515;
    border-radius: 64px;
    text-align: center;
    padding: 4rem 0;
    width: 90%;
    margin: 0 auto;
}
.skill-bx h2 {
      font-size: 45px;
      font-weight: 700;
      padding: 0 0 3rem 0;
}

.skill-slider {
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.skill-slider:hover {
    cursor: pointer;
}
.skill-slider .item img {
    width: 50%;
    margin: 0 auto 15px auto;

    -webkit-user-drag: none;
    user-select: none;
}

